.bosieutap-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 65%;
	margin-top: 40px;
	padding: 0px;
	border-radius: 15px;
	border: 2px solid rgb(212, 212, 217);
	text-align: center;
	justify-content: center;
}

.card-title {
	font-size: 26px;
	color: red;
	margin: 15px auto;
}

.card img {
	display: block;
	width: 80%;
	height: 100%;
}

.card > div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#next,
#prev {
	height: 50px;
	width: 50px;
	font-size: 16px;
	border-radius: 100%;
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
	transition: 0.3s ease;
}

#next:hover,
#prev:hover {
	border: 2px solid #cc1f1f;
	background-color: #cc1f1f;
	cursor: pointer;
}

.card-text {
	font-size: 20px;
	margin: 15px auto;
}
