:root {
	--text-color: black;
	--primary-color: #e30019;
	--blue-color: #007bff;
	--background-dark-white: #f1f2f1;
	--product-title: rgb(80, 79, 79);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	background-color: #ececec;
}

.banner {
	display: block;
	width: 100%;
}

/* =============================nav====================================*/
.navbar {
	background-color: #e30019;
	width: 100%;
}

.logo {
	display: inline-block;
	font-size: 38px;
	font-weight: bolder;
	color: transparent;
	text-shadow: 0 0 4px 0 0 4px 4px rgba(224, 47, 47, 0.5);
	background: linear-gradient(
		to right,
		#f7ecec,
		#e9d71b,
		#f0de0f,
		rgb(157, 195, 33)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: slide 5s linear infinite;
	font-family: "DancingRegular";
	background-size: 300% 300%;
}

@keyframes slide {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.navbar ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbar ul li,
a {
	color: white;
	font-size: 15px;
}

.navbar input {
	border-radius: 5px;
	border: none;
	margin-right: 5px;
}

.navbar input[placeholder] {
	padding: 3px 0px 3px 8px;
}

/*--------------------------menu-bar-------------------------------*/
.menu-bar {
	background-color: #ffffff;
	padding: 12px;
}

.menu-bar ul {
	display: flex;
	justify-content: space-evenly;
}

.menu-bar ul li a {
	color: black;
	font-size: 16px;
}

.menu-bar ul li a i {
	padding: 6px;
}

.menu-bar ul li a:hover {
	color: #e30019;
}

.menu-bar ul li:nth-child(1) {
	position: relative;
}
.menu-bar ul li:nth-child(1)::before {
	position: absolute;
	content: "Giảm 5%";
	display: block;
	height: 15px;
	width: 45px;
	background-color: #e30019;
	border-radius: 5px;
	right: 0;
	top: -10px;
	font-size: 10px;

	padding-left: 5px;
	color: white;
}

/*-------------------------------main--------------------------------*/
.leftcolumn {
	float: left;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	flex-basis: auto;
}

.product {
	width: calc(100% / 3 - 1.5rem);
	background-color: white;
	padding: 10px;
	margin: 10px;
	float: left;
	display: block;
	border: 2px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px var(--background-dark-white);
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.product .images {
	height: auto;
	width: 100%;
	padding: 1rem;
	overflow: hidden;
	object-fit: cover;
	transition: 0.3s ease-in;
}

.images:hover {
	transform: scale(1.1);
}

.contains--title {
	color: var(--product-title);
	background-color: var(--background-dark-white);
	padding: 5px 5px;
}

.contains--title h3 {
	font-size: 17px;
	font-weight: 500;
	margin: 0 auto;
	line-height: 1;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.child--contains--price {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.contains--price--discount {
	font-weight: lighter;
	font-size: 16px;
}

h4.contains--price--unit {
	font-size: 19px;
	font-weight: 500;
	color: var(--primary-color);
	margin: 5px auto;
}

.contains--price--percent {
	background-image: url("../images/icon-saleoff.webp");
	height: auto;
	width: 50px;
	background-repeat: no-repeat;
	align-items: center;
	position: relative;
}

.contains--price--percent p {
	position: relative;
	top: 30%;
	text-align: center;
	color: var(--primary-color);
}

.contains--action {
	padding: 0 0.3rem 0.3rem 0.3rem;
}

.contains--action button {
	height: 40px;
	width: calc(100% / 2 - 0.2rem);
}

.contains--action--buy {
	border-radius: 3px;
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s ease;
	height: 50px;
	width: 150px;
}

.contains--action--buy:hover {
	border: 2px solid #cc1f1f;
	background-color: #cc1f1f;
	color: #fff;
}

.contains--action--addcart {
	border-radius: 3px;
	border: 2px solid #d5d5d5;
	background-color: #fff;
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s ease;
}

.contains--action--addcart:hover {
	border: 2px solid #d5d5d5;
	background-color: #dadada;
	color: #000;
}

.rightcolumn {
	float: left;
	width: 25%;
}

.card {
	font-family: "Source Sans Pro", sans-serif;
	background-color: white;

	padding: 15px;
	margin-top: 12px;
	text-align: center;
}

.card > h2 {
	font-size: 20px;
}

.card > video {
	margin: 10px auto;
}

.card > p {
	font-weight: bold;
}

/*-------------------------------Footer--------------------------------*/

footer {
	padding-top: 3rem;
}

.footer__container {
	background-color: #fff;
	padding: 2rem 6%;
	display: flex;
	justify-content: space-evenly;
}

ul.chinhsach {
	padding: 0 1rem;
}

ul.chinhsach li {
	padding: 5px 0;
}

ul.chinhsach li a {
	color: black;
	font-weight: 600;
}

li.chinhsach--item span {
	font-size: 15px;
	font-weight: 600;
	color: #3e3d3d;
}
li.chinhsach--item p {
	font-size: 18px;
	font-weight: 600;
	color: black;
	padding: 0;
	margin: 0;
}

li.chinhsach--item img {
	height: 40px;
	width: 50px;
}

.card-button {
	width: 100%;
	margin: 5px 0;
	padding: 10px 20px;
	font-size: 16px;
	border: 2px solid red;
	border-radius: 5px;
	background-color: #cc1f1f;
	color: white;
}

.card-button:hover {
	border: 2px solid #d5d5d5;
	background-color: #fff;
	color: red;
	cursor: pointer;
}
